name: CI
on:
  schedule:
  - cron: '*/8 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: julia-actions/setup-julia@v1
      with:
        version: '1.3.0'
    - uses: julia-actions/julia-buildpkg@master
    - run: julia --project src/main.jl